
*.obj
BezierMS/.vs/BezierMS/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.lastbuildstate
*.pch
*.recipe
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/CL.read.1.tlog
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/CL.command.1.tlog
BezierMS/BezierMS/x64/Debug/BezierMS.log
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/CL.write.1.tlog
BezierMS/BezierMS/x64/Debug/vc142.idb
BezierMS/BezierMS/x64/Debug/vc142.pdb
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/dxc.command.1.tlog
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/dxc.read.1.tlog
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/dxc.write.1.tlog
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/link.command.1.tlog
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/link.delete.1.tlog
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/link.read.1.tlog
BezierMS/BezierMS/x64/Debug/BezierMS.tlog/link.write.1.tlog
BezierMS/BezierMS/x64/Debug/BezierMS.vcxproj.FileListAbsolute.txt
